<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= appTitle %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include("header.ejs") %>
    <section class="page-header">
      <% if (user) { %>
      <h2 class="welcome-message">Welcome, <%= user.first_name %></h2>
    </section>
    <div class="actions">
      <a href="/posts/new" class="btn">New Post</a>
      <% if (user.membership_status === "basic") { %>
        <a href="/member/join" class="btn">Join the Club</a>
      <% } %>
    </div>
    <% } else { %>
    <h2 class="welcome-message">Welcome, Guest</h2>
    <% } %>
    <div class="post-list">
      <% posts.forEach((post)=> { %>
      <div class="post-card">
        <h2><%= post.title %></h2>
        <hr class="divider">
        <div class="post-card-content">
          <p><%= post.content %></p>
        </div>
        <hr class="divider">
        <div class="post-card-footer">
          <p><%= post.author %></p>
          <p><%= post.created_at.toDateString() %></p>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
