<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= appTitle %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include("header.ejs") %>
    <section class="page-header">
      <% if (user) { %>
      <h2 class="welcome-message">Welcome, <%= user.first_name %></h2>
      <% } else { %>
      <h2 class="welcome-message">Welcome, Guest</h2>
      <% } %>
    </section>
    <div class="actions">
      <% if (user) { %>
      <a href="/posts/new" class="btn">New Post</a>
      <% if (user.membership_status === "basic") { %>
      <a href="/member/join" class="btn">Join the Club</a>
      <a href="/admin/join" class="btn">Become Admin</a>
      <% } %> <% if (user.membership_status === "member") { %>
      <a href="/admin/join" class="btn">Become Admin</a>
      <% } %> <% } %>
    </div>
    <div class="post-list">
      <% posts.forEach((post)=> { %>
      <div class="post-card">
        <div class="post-card-header">
          <h2><%= post.title %></h2>
          <% if (user && user.membership_status === "admin") { %>
          <form action="/posts/<%= post.id %>/delete" method="post">
            <button type="submit" class="btn">X</button>
          </form>
          <% } %>
        </div>
        <hr class="divider" />
        <div class="post-card-content">
          <p><%= post.content %></p>
        </div>
        <hr class="divider" />
        <div class="post-card-footer">
          <% if (user && (user.membership_status === "member" || user.membership_status
          === "admin")) { %>
          <p><%= post.author %></p>
          <p><%= post.created_at ? post.created_at.toDateString() : "" %></p>
          <% } else { %>
          <p>Author/Date visible to members/admins only.</p>
          <% } %>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
