<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= appTitle %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include("header.ejs") %>
    <section class="form-section">
      <h2 class="page-title"><%= pageTitle %></h2>
      <% if (errors && errors.length > 0) { %>
      <ul class="form-errors">
        <% errors.forEach((error) => { %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>
      <form action="/auth/login" method="post">
        <label for="username">Email</label>
        <input
          type="email"
          name="username"
          id="username"
          value="<%= oldInput ? oldInput.username: '' %>"
        />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
        <button type="submit" class="btn">Log In</button>
      </form>
    </section>
  </body>
</html>
